.Task {
  width: 100%;
  padding: 20px 30px 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
ul li.active {
  color: var(--text__title);
  position: relative;
}
ul li.active svg {
  fill: var(--text__title);
}
ul li.active::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #d7d7d7;
}
.task__mainBox__Board {
  --gap: 1rem;
  width: 100%;
  overflow: auto;
  height: 100%;
  padding: 10px 0;
}
.task__mainBox__Board.list-view {
  display: grid;
}
.task__mainBox__Board.list-view .boardBox {
  overflow: initial;
}
.task__mainBox__Board.board-view {
  overflow: auto;
  display: flex;
}
.boardBox {
  flex: 1;
  height: 100%;
  border-radius: 6px;
  background: var(--task__board__bg);
  padding: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(15px);
}
.boardBox__header {
  justify-content: space-between;
  align-items: center;
  color: #7a8195;
  padding-bottom: 10px;
}
.boardBox__header div {
  align-items: center;
  --gap: 0;
  color: var(--highlight__text);
  font-size: 15px;
}
.boardBox__box {
  flex-direction: column;
  --gap: 0.8rem;
  height: 100%;
}
.boardBox__main {
  display: grid;
  row-gap: 0.8rem;
  padding-bottom: 40px;
}
.dragArea {
  border-radius: 6px;
  border: 2px dashed #7a8195;
  width: 100%;
  display: grid;
  height: auto;
  min-height: 140px;
  color: #7a8195;
  place-items: center;
}
.board-view {
  display: grid;
  gap: 0.8rem;
  overflow: auto;
}
.list-view {
  display: flex;
  gap: 0.8rem;
  overflow: auto;
}

.drag-icon-area {
  position: absolute;
  right: 10px;
  padding: 10px;
  top: 0px;
  cursor: grab;
  padding-right: 0;
}
.list-view .boardBox__box {
  flex-direction: row;
  padding-bottom: 10px;
}
.list-view .boardBox__box .TaskCard {
  min-width: 250px;
}
.list-view .dragArea {
  min-width: 250px;
  margin-bottom: 10px;
}
